/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Wildcard selector, applies styles to all html elements on the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Rules to push footer down to the bottom of the screen */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}


/* Header */
header {
    background-color: lightcoral;
}

/* Main content */
main {
    background-color: lightblue;
    /* Enlarge the main element to push the footer down */
    flex: 1 0 auto;
}


/* Footer */
footer {
    background-color: orange;
}
